<!DOCTYPE html>
<html>
    <head>
        <title>Dog Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the dog page: here's some information about my dog!</p>
    </body>
</html>